<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <main>
      <div>
        <input id="nameField" type="text" placeholder="Name" />
        <button class="btn" id="nameBtn">Set</button>
      </div>

      <div id="choices"></div>

      <div class="controls">
        <button class="btn" id="show">Show</button>
        <button class="btn" id="reset">Reset</button>
      </div>

      <div id="cards"></div>
    </main>

    <script src="/static/main.js"></script>
  </body>
</html>
